<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="template">     
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
<head>
<meta charset="utf-8">
<title>Ajout des Patients</title>
</head>
<body>
 <div layout:fragment="Mycontent">
<div class="container mt-5">
<div class="card">
  <div class="card-header" th:if="${mode=='new'}"> Ajout des Patients </div>
  <div class="card-header" th:if="${mode=='edit'}"> Modification des Patients </div>
				<div class="card-body">
					<form th:action="@{saveParfum}" method="post">
					   <div class="form-group">
							<label class="control-label" hidden>ID Patient :</label> 
		       				<input type="hidden" name="idParfum" class="form-control" th:value="${parfum.idParfum}"  />
						</div>
						<div class="form-group">
							<label class="control-label">Nom Patient :</label> 
					        <input type="text" name="nomParfum" class="form-control" th:value="${parfum.nomParfum}"  />
							<span th:errors= ${parfum.nomParfum} class="text-danger"> </span>	 
						</div>
						<div class="form-group">
							<label class="control-label">Prix Consultation :</label> 
							<input type="text" name="prixParfum" class="form-control" th:value="${parfum.prixParfum}" />
							 <span th:errors=${parfum.prixParfum} class="text-danger"> </span> 
						</div>
						<div class="form-group">
							<label class="control-label">date RDV :</label> 
							<input type="date" name="dateCreation" class="form-control"  th:value="${parfum.dateCreation}"/>
							 <span th:errors=${parfum.dateCreation} class="text-danger"> </span> 
						</div>
						<div class="form-group">
						<label class="control-label">Services :</label> 
                            <select name="categorie" class="form-control">
                            <option th:each="cat:${categories}" th:if="${mode=='new'}" th:value="${cat.idCat}" th:text="${cat.nomCat}"></option>
                              <option th:each="cat : ${categories}" th:if="${mode=='edit'}" th:value="${cat.idCat}" th:text="${cat.nomCat}" th:selected="${ cat.idCat==parfum.categorie.idCat}"></option>    
                                
                            </select>
 						</div>
						<div>
							<button type="submit" class="btn btn-primary">Valider</button>
						</div>
					</form>
				</div>
	</div>
</div>
</div>
</body>
</html>